# ———— Generic Generated ————
# CMake
CMakeFiles/
CMakeScripts/
CMakeCache.txt
cmake_install.cmake

# C++ Build 
[Dd]ebug/
[Rr]elease/

# ———— Tool Specific ————
# Visual Studio
*.sln
*.vcxproj
*.filters

# VS Code

# CLion

# Xcode
*.xcodeproj/

# ———— Platform Specific ————
# MacOS
*.DS_Store

# ———— Local Settings/Config ————
